{% load thumbnail %}
<ul>
  <li>
    Автор: {{ post.author.get_full_name }}
  </li>
  <li>
    Дата публикации: {{ post.pub_date|date:"D, G:i | d E Y" }}
  </li>
</ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
<p>{{ post.text }}</p>
  {% if post.author == user %}
  <div class="d-flex flex-row justify-content-between">
    <a class="btn btn-primary" href="{% url 'posts:post_detail' post.id %}">Подробная информация </a> <br>
    <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">Редактировать </a> <br>
  </div>
  {% else %}
    <a class="btn btn-primary" href="{% url 'posts:post_detail' post.id %}">Подробная информация </a> <br>
  {% endif %} 
  


